{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Range List -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for rolls in rolls %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                                <h2 class="card-text">{{ rolls.rolls }}</h2>
                        </div>
                        <div>
                            <span class="buttons">
                                <a href="/delete_roll/{{ rolls.id }}">
                                    <button class="delete">Delete</button>
                                </a>
                                <a href="/edit_roll/{{ rolls.id }}">
                                    <button class="edit">Edit</button>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="center">
            <a href="/add_roll">
                <button class="main-button">ADD ROLL</button>
            </a>
        </div>
    </div>
    <br>
</div>

{% endblock content %}